* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background: linear-gradient(30deg,rgba(194, 255, 197, 0.7) 10% , rgba(154, 213, 255, 0.7) 50%);
	background-size: 145%;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	overflow: hidden;
}


img {
    position: absolute;
    right: -16px;
    bottom: -35px;
    transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    transform-origin: right bottom;
}
img:hover {
	right: 0;
	bottom: 0;
}

.main {
	position: relative;
	width: 700px;
	height: 100vh;
	margin-left: calc(50% - 350px);
}

.head {
	display: block;
	text-align: center;
	font-size: 4rem;
    padding: 90px 0 50px;
}

.login {
	font-size: 2rem;
}
form {
	text-align: center;
}
label {
	display: inline-block;
	text-align: right;
	width: 255px;
}
.box {
	margin: 10px;
	padding: 10px 12px;
	font-size: 18px;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	outline: none;
	border: 1px solid #ddd;
	box-shadow: 0 1px 5px #929292;
	border-radius: 3px;
}
.box:focus {
	box-shadow: 0 4px 8px #565656;
	transition: 0.5s;
}

.submit {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	text-align: center;
	width: 150px;
	height: 50px;
	margin: 0 calc(50% - 75px);
	font-size: 1.7rem;
    letter-spacing: 1.5px;
    color: #fff;
	border: none;
    border-radius: 2px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
    outline: none;
    background-color: #f3989b;
}
.submit:hover {
	background-color: #f5a5a8;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}
.fail {
	position: absolute;
	top: 15px;
	display: block;
	width: 100%;
	text-align: center;
	color: red;
	height: 50px;
	font-size: 2rem;
}

@media screen and (max-width: 800px) {
	body {
		padding-top: 0;
		overflow: auto;
	}
	img {
		display: none;
	}
	.main {
		width: auto;
		margin: 0;
	}
	span {
		font-size: 2rem;
	}
	label {
		text-align: center;
	}
	.fail {
		font-size: 1.5rem;
	}
	.submit {
		margin-bottom: 50px;
	}
}